/*main dashboard layout*/
.dashboard-container {
    display: flex; /*sidebar and maint content side by side*/
    height: 100vh; 
    width: 100%;
}

/*sidebar styling */
.sidebar {
    width: 150px; 
    height: 100vh;
    background-color: #174EA6;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

/*logo icon styling and layout*/
.logo-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

/*menu list meaning home/portfolio/analaytics/settings layout*/
.menu-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*all items on sidebar stylings eg home*/
.item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    gap: 10px;
}

/*background changes to dark grey when the sidebar links are hovered over*/
.item:hover {
    background-color: #333;
}

/*main dashboard content*/
.main-content {
    flex: 1;
    padding: 40px;
    background-color: #F5F5F5;
}

.main-content h1 {
    color: #333;
}
