/*main dashboard layout*/
.dashboard-container {
    display: flex; 
    height: 100vh; 
    width: 100%;
}

/*sidebar styling */
.sidebar {
    width: 135px;
    height: 100vh;
    background-color: #174EA6;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

/*logo icon styling and layout*/
.logo-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

/*menu list meaning home/portfolio/analaytics/settings layout*/
.menu-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*all items on sidebar stylings eg home*/
.item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    gap: 10px;
}

/*background changes to dark grey when the sidebar links are hovered over*/
.item:hover {
    background-color: #333;
}

/*logout button styling*/
.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;  
    padding: 8px 15px;  
    font-size: 16px;
    color: white;
    background-color: #D9534F;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
    border-radius: 5px;
}

/*logout button hover changes button background color when hovered over by mouse*/
.logout-button:hover {
    background-color: #C9302C;
}

/*logout button container*/
.logout-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

/*main dashboard content*/
.main-content {
    flex: 1;
    padding: 40px;
    background-color: #F5F5F5;
}

.main-content h1 {
    color: #333;
}
